@model Author.AuthorFormViewModel;

<form method="post" class="form-upsert">
    <table class="form-table">
        <tbody>
            <tr>
                <td>
                    <label asp-for="Title">Title*</label>
                </td>
                <td>
                    <input asp-for="Title">
                    <span class="field-validation-error" asp-validation-for="Title"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="FirstName">First Name*</label>
                </td>
                <td>
                    <input asp-for="FirstName">
                    <span class="field-validation-error" asp-validation-for="FirstName"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="LastName">Last Name</label>
                </td>
                <td>
                    <input asp-for="LastName">
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="BirthDate">Birth Date*</label>
                </td>
                <td>
                    <input type="date" asp-for="BirthDate">
                    <span class="field-validation-error" asp-validation-for="BirthDate"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="DeceasedDate">Decease Date</label>
                </td>
                <td>
                    <input type="date" asp-for="DeceasedDate">
                    <span class="field-validation-error" asp-validation-for="DeceasedDate"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Education">Education</label>
                </td>
                <td>
                    <input asp-for="Education">
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Summary">Summary</label>
                </td>
                <td>
                    <textarea asp-for="Summary"></textarea>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit">Submit</button>
    <a asp-controller="Author" asp-action="Index"><button type="button">Back to Index</button></a>
</form>