<ul>
    <a asp-controller="Home" asp-action="Index"><li>Home</li></a>
    <a asp-controller="Author" asp-action="Index"><li>Authors</li></a>
    <a asp-controller="Category" asp-action="Index"><li>Books</li></a>
    <a asp-controller="Customer" asp-action="Index"><li>Customers</li></a>
    <a asp-controller="Loan" asp-action="Index"><li>Loan</li></a>
</ul>