<div class="main-body">
    <p>This field cannot be deleted because it has a relationship with another menu</p>
    <a asp-controller="Customer" asp-action="Index"><button type="button">Back to Index</button></a>
</div>